<style>
    .active {
        color: grey;
    }

        .active:hover {
            color: grey;
        }
</style>
<h3>Konfiguration</h3>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/konfiguration/leverantor">Leverantör</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/konfiguration/vardgivare">Vårdgivare</NavLink>
    </li>

</ul>