<style>
    .active {
        color:grey;
    }

    .active:hover {
        color: grey;
    }
</style>
<h3>Registrera</h3>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/registrera/forbrukning">Förbrukning</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/registrera/inleverans">Inleverans</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/registrera/lagersaldo">Lagersaldo</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/registrera/bestallning">Beställning</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="active" class="nav-link" href="/registrera/kapacitet">Kapacitet</NavLink>
    </li>
</ul>
